body,html{
	height: 100%;
	margin: 0;
	background: rgb(255, 255, 255);
}

.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 1000px;
	border-radius: 15px !important;
	background-color: rgba(198, 226, 201, 0.95) !important;
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	height: 13%;
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
	background-color: rgba(11, 238, 34, 0.95) !important;
}

.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
	background-color: rgba(11, 238, 34, 0.95) !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	box-shadow:none !important;
    outline:0px !important;
}
.type_msg{
	background-color: rgba(255,255,255,0.95) !important;
	border:0 !important;
	color:rgb(87, 87, 87) !important;
	height: 60px !important;
	overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #0d5926;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #0d5926;
}

.title{
	display: inline-block;
	width: 50%;
	text-align: center;
	color:rgb(10, 103, 9);
	font-family: cursive, fantasy, "Times New Roman", serif;
	font-style: italic;
	letter-spacing: 1px;
	position: relative;
	margin-left: 8%;
	margin-bottom: 2%;
}

.a{
	text-align: center;
	color:rgb(17, 217, 14)
	font-family: cursive, fantasy, "Times New Roman", serif;
	font-style: italic;
	font-size: 20px;
}

.b{
	text-align: right;
	color:rgb(17, 217, 14)
	font-family: cursive, fantasy, "Times New Roman", serif;
	font-style: italic;
	font-size: 20px;

}

.img_cont{
	position: relative;
	height: 100px;
	width: 100px;
	margin-left: 30px;
	margin-top: 2%;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}

/*.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #5eca4d;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}

.offline{
	background-color: #c23616 !important;
}*/


.user_info{
	display: inline-block;
	width: 30%
	vertical-align: middle;
	margin-top: 2%;
	margin-left: 3%;
}
.user_info span{
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color: rgb(3, 70, 35);
	padding-top:2px;
}
.user_info p{
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	color: rgb(3, 70, 35);
	text-align: center;
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(149, 187, 149);
	padding: 10px;
	position: relative;
	max-width: 93%; /* add: set a maximum width to limit the reply window length */
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #e7edab;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(31, 27, 27, 0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(31,27,27,0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}

#resultUploadPath {
	margin-left: 20px;
}

/*File Select 버튼 css
.filebox label {
	display: inline-block;
	border-radius: 10px 0px 0px 10px !important; /* padding 모서리 둥글게
	margin: 0px 0 0 245px; /*좌우 움직일때
	padding: .6em .75em;
	color: #fff;
	font-size: 16px; /*inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
	border-radius: .25em;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
  
.filebox label:hover {
	background-color: rgba(0,0,0,0.3);
}
  
.filebox label:active {
	background-color: rgba(0,0,0,0.3);
}
  
.filebox input[type="file"] {
	background-color: rgba(0,0,0,0.3) !important;
	border-style: none !important;
	color: white !important;
	cursor: pointer;
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
}
*/

/*@media(min-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}*/