<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ url_for('static',filename='chat.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	</head>
	
	
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.ibb.co/cYpQYRX/sesac-logo.png" class="rounded-circle user_img" onclick="main()">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Admin Bot</span>
									<p>Ask me anything!</p>
								</div>
								<!-- upload button 추가 부분-->
								<div class="filebox">
									<form id="uploadForm" enctype="multipart/form-data">
										<label for="fileupload">File Select</label>
										<input type="file" id="fileupload" class="pdf_fileselect_btn"></input>
										<!--<button onclick="upload()" class="pdf_upload_btn">Upload</button>-->
										<button type="submit" class="pdf_upload_btn">Upload</button>
										<p id="resultUploadPath"></p>
									</form>
								</div>
								<!-- 추가 부분 끝-->
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
						</div>
						<div id="block-pdf" class="card-footer" style="display:none"> <!--style="display:block"-->
							<form id="messageArea" class="input-group"> 
                                <input type="text" id="text" name="msg" placeholder="한글을 입력 후 'Enter key'를 눌러주세요." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
						<div id="none-pdf" class="card-footer" style="display:block"> <!--style="display:none"-->
							<form id="messageAreaPdf" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="PDF 파일을 업로드 후 한글을 입력해주세요." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>