<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Main Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ url_for('static',filename='chat.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">		
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="user_info">
                                <span>LLM is All you Need</span>
                                <p>Choose a card below!</p>
                            </div>
                            <div class="user_info move_admin_btn">
                                <button onclick="admin()" class="btn btn-black-white">Admin</button>
                            </div>
                        </div>
                    </div>
                        <div id="messageFormeight" class="card-body msg_card_body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card card-style">
                                            <div class="card-header user_white">
                                                <span>Sketch Bot</span>
                                            </div>
                                                <img src="https://i.ibb.co/RG8HdcZ/picture11.png" class="rounded-circle-center user_img"/>
                                            <div class="card-body">
                                                <span class="card-title user_white">Confer</span>
                                                <p class="card-text user_grey">Create a stable diffusion sentence that can create images!</p>
                                                <button onclick="chatDiffusion()" class="btn btn-primary">Click</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card card-style">
                                            <div class="card-header user_white">
                                                <span>Museum Bot</span>
                                            </div>
                                            <img src="https://i.ibb.co/R9Wpxpk/circular-chungjahyanngro.png" class="rounded-circle-center user_img"/>
                                            <div class="card-body user_grey">
                                                <span class="card-title user_white">Confer</span>
                                                <p class="card-text">Ask the museum curator for information about white porcelain!</p>
                                                <button onclick="chatMuseum()" class="btn btn-primary">Click</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>    